<ul class="nav" id="side-menu">
    <li>
        <a href="/"><i class="fa fa-home fa-fw"></i> Hauptmen&uuml;</a>
    </li>
    <li>
        <a href="/dockerps"><i class="fa fa-anchor fa-fw"></i> Containerliste</a>
    </li>
    <li>
        <a href="/nrcontainer"><i class="fa fa-asterisk fa-fw"></i> alle Container</a>
    </li>
    <li>
        <a href="/images"><i class="fa fa-file fa-fw"></i> Imageliste</a>
    </li>
    <li>
        <a href="/containertable"><i class="fa fa-list fa-fw"></i> Containertabelle</a>
    </li>
    <li>
        <a href="/manage/new"><i class="fa fa-edit fa-fw"></i> Neuer Container</a>
    </li>
    <li>
        <a href="/logout" style="color: #900;"><i class="fa fa-sign-out fa-fw"></i> Abmelden</a>
    </li>
</ul>
